singularity {
	enabled = true
	autoMounts = true
}

docker {
	enabled = false
}


params {

	// Directories

	mudata = null
	mae_object = null
	temp_file = null
	output = null
	container_dir = null
	
   
}


/*
Define the Singularity container file paths relative to the given container_dir parameter
*/
//rstudio_mae = "file:///" + "${params.container_dir}" + "r-mae-multi-omics-v0.4.sif"
rstudio_mae =  "file:///" + "${params.container_dir}" + "r-mae-ipsc.sif"
//mofa_mae = "file:///" +  "${params.container_dir}" + "mofa-mae-v3.sif"
mofa_mae = "file:///" +  "${params.container_dir}" + "mofa-mae-v6.sif"


process {
	
	withName: '.*' {
    container = "$rstudio_mae"
	}
	withName: 'RUN_MOFA.*' {
		container = "$mofa_mae"
	}
	
	/* 
	Max resources of the computational environment should be specified here:
	*/
	withLabel: full_resources {
		cpus = 15
		memory = 30.GB
	}
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.output}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.output}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.output}/execution_trace_${trace_timestamp}.txt"
	fields = 'task_id,name,process,status,exit,realtime,%cpu,cpus,container,rss'
}
dag {
    enabled = true
    file    = "${params.output}/pipeline_dag_${trace_timestamp}.html"
}
