params {
	// main input files
	mudata = null
	r_config = "${projectDir}/bin/Analysis/config.yml"
	mae_object = null
	temp_file = null
	isa_file = null
	output = "."

	// Input files from directories
	support_functions = "${projectDir}/bin/support_functions"

	// Temp files for debugging
	markers_dir = "."
	neuron_markers = "${params.markers_dir}/Neuron_markers.csv"
	tmem_markers = "${params.markers_dir}/TMEM_mappings.csv"
	sympathic_markers = "${params.markers_dir}/Sympathic_marker_genes.csv"

	alt_omics_dir = "."
	lipid_class_data = "${params.alt_omics_dir}/lipidomics_T_Class_data.csv"
	mtblmcs_tech = "${params.alt_omics_dir}/metabolomics_tml_data_tech_rep_complete.csv"
	prot_tech = "${params.alt_omics_dir}/proteomics_data_tech_reps_complete.csv"
	
	meth_dir = "."
	meth_ipsc_raw   	= "${params.meth_dir}/iPSC_h5_raw"
	meth_ipsc_qc  		= "${params.meth_dir}/iPSC_h5_QC_SNP_filtered"
	meth_neuron_raw   	= "${params.meth_dir}/h5_raw" 
	meth_neuron_qc    	= "${params.meth_dir}/h5_QC_SNP_filtered"
	meth_neuron_sub    	= "${params.meth_dir}/h5_QC_SNP_filtered_sub_SD"

	mofa_scores = null
	container_dir = "."
	use_chunks = false
	use_corrected = false
	help = false
	cpus = 32
}

// Load nf-pipeline-setup
includeConfig './conf/modules.config'

// Limits your processes by the max cpus
executor {
	$local {
	  	cpus = params.cpus
	}
}

// start nextflow with a profile with `-profile dre`
profiles {
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g) --rm --security-opt=no-new-privileges'
        singularity.enabled     = false
	}
    singularity {
        singularity.enabled     = true
        singularity.ociAutoPull = false
	singularity.cacheDir	= "${projectDir}/cache"
        docker.enabled          = false
	}
    dre { 
	includeConfig './conf/dre.config'     
	singularity.enabled 	= true
	singularity.ociAutoPull = false
	singularity.cacheDir 	= "${projectDir}/cache" 
	docker.enabled 		= false	
	}
}




def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.output}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.output}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.output}/execution_trace_${trace_timestamp}.txt"
	fields = 'task_id,name,process,status,exit,realtime,%cpu,cpus,container,rss'
}
dag {
    enabled = true
    file    = "${params.output}/pipeline_dag_${trace_timestamp}.html"
}
