singularity {
	enabled = true
	autoMounts = true
}

docker {
	enabled = false
}


params {
	// Docker Hub images (format: 'owner/image:tag')
	container_mae  = "docker://casperdevisser/r-mae-mulit-omics-ipsc:v0.1"
	container_mofa = "docker://casperdevisser/mofa2-mae:v0.6"
}


process {

	withName: '.*' {
		container = params.container_mae
	}
	withName: 'RUN_MOFA.*' {
		container = params.container_mofa
	}

	/* 
	Max resources of the computational environment should be specified here:
	*/
	withLabel: full_resources {
		cpus = 15
		memory = 30.GB
	}

}



def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.output}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.output}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.output}/execution_trace_${trace_timestamp}.txt"
	fields = 'task_id,name,process,status,exit,realtime,%cpu,cpus,container,rss'
}
dag {
    enabled = true
    file    = "${params.output}/pipeline_dag_${trace_timestamp}.html"
}
