process {
	
	withName: '.*' {
    		container =  "file:///" + "${params.container_dir}" + "r-mae-ipsc.sif"
	}
	withName: 'RUN_MOFA.*' {
		container = "file:///" +  "${params.container_dir}" + "mofa-mae-v6.sif"
	}
	
	/* 
	Max resources of the computational environment should be specified here:
	*/
	withLabel: full_resources {
		cpus = 15
		memory = 30.GB
	}
}
