process {

	withName: '.*' {
		container = {workflow.containerEngine == 'singularity' ? 'casperdevisser/r-mae-multi-omics-ipsc:v0.1' : 'casperdevisser/r-mae-multi-omics-ipsc:v0.1'}
	}
	withName: 'RUN_MOFA.*' {
		container = container = {workflow.containerEngine == 'singularity' ? 'casperdevisser/mofa2-mae:v0.6' : 'casperdevisser/mofa2-mae:v0.6'}
	}

	/* 
	Max resources of the computational environment should be specified here:
	*/
	withLabel: full_resources {
		cpus = 15
		memory = 30.GB
	}
}
